*{padding:0;margin:0;border:none;}
ul{list-style:none;}
body{font-family:verdana;}
a{text-decoration:none;color:#c35617;}
pre{line-height:26px}
pre .comment{color:#282;}

#homeLink {z-index:2;position:fixed;top:0;left:0;background:#eee;width:50px;padding:5px 0;color:#666;text-align:center;font-size:90%;border-bottom-right-radius:4px;}
#homeLink:hover{background:#ddd;}
#home {width:700px;margin:50px auto;}
#home li{padding:6px;}
#page a:hover{text-decoration:underline;}
#multi{display:none;}
#leaf{position:fixed;bottom:0;width:23px;height:50px;right:75px;cursor:pointer}
#footer{padding:4px 0;width:100%;position:fixed;bottom:0;display:none;text-align:right;font-size:80%;background:#fff;}
#footer a{color:#222;padding:2px 0;margin-right:40px;}
#footer a:hover{text-decoration:underline;}

#next, #prev{position:fixed;top:0;right:0;height:100%;width:50px;font-size:50px;color:#999;}
#prev{left:0;}
#next:hover, #prev:hover {color:#111;}
#next:hover{border-left:1px solid #bbb;}
#prev:hover{border-right:1px solid #bbb;}
#next span, #prev span{position:absolute;top:45%;width:100%;text-align:center;}
#next span:after{content:'\203a'}
#prev span:after{content:'\2039'}
#pager{position:fixed;bottom:5px;left:55px;color:#888;font-size:80%;}


/* dark theme */
body.dark{background:#222;color:#fff;}
body.dark #footer{background:#222;}
body.dark #footer a{color:#fff;}
body.dark #homeLink {background:#444;color:#999;}
body.dark #homeLink:hover{background:#666;}
body.dark pre .comment{color:#5a5;}
body.dark #next:hover, body.dark #prev:hover {color:#fff;}
body.dark #next:hover{border-left:1px solid #444;}
body.dark #prev:hover{border-right:1px solid #444;}