body{font-family:Comfortaa,verdana;background:#e6e6e6;}
h1{border-bottom:2px solid #aaa;padding-bottom:30px;margin-bottom:30px;}
#page{width:960px;margin:50px auto;font-size:28px;color:#ddd;}

li{padding:10px;}
