---
layout: bare
title: Multiple Collections vs Embedded Documents
css: true
multi: true
fonts: [Chivo]
---

<div id="multi">
  <div>{% include mc_vs_ed/1.html %}</div>
  <div>{% include mc_vs_ed/2.html %}</div>
  <div>{% include mc_vs_ed/3.html %}</div>
  <div>{% include mc_vs_ed/4.html %}</div>
  <div>{% include mc_vs_ed/5.html %}</div>
  <div>{% include mc_vs_ed/6.html %}</div>
  <div>{% include mc_vs_ed/7.html %}</div>
  <div>{% include mc_vs_ed/8.html %}</div>
  <div>{% include mc_vs_ed/9.html %}</div>
  <div>{% include mc_vs_ed/10.html %}</div>
  <div>{% include mc_vs_ed/11.html %}</div>
  <div>{% include mc_vs_ed/12.html %}</div>
</div>